/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  /* Pattern from https://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 50px;
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.9;
}

.showcase {
  width: 100%;
  height: 500px;
  background: url("./img/new-enigma-dota-2.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/* CARDS BANNER ONE */
.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url("./img/dota-2-banner.jpg");
  margin-bottom: 40px;
}

.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.cards-banner-one p,
.cards-banner-two p {
  margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
  
  width: 100%;
  height: 350px;
  background: url("./img/dota-2-banner2.png") no-repeat center center/cover;
  margin-bottom: 40px;
}

.cards-banner-two .content {
  width: 40%;
  padding: 90px 0 0 30px;
}
#menu a, button{
  font-size: 18px !important;
  font-weight: 600;
 
}

#menu a{
  color:#3f3f3f;
  
}
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
 max-height:39rem !important;
}

/*===================EQUIPO IMAGEN==========================*/



#img-equipo{
 max-height:30rem !important;
 width:50%;
}


/*===================SECCION NUESTRO EQUIPO ESTADIO==========================*/
#local {
 margin-top:50px;
 background-color: #f3f3f3;
 display:flex;
 justify-content: center; 
 padding-bottom: 300px; 
}

.mapa {
 background: url(../img/compendium.gif);
 width:100%;
 height:500px;
 background-repeat: no-repeat;
 
}


.wrapper-local {
 width:50%;
 margin-left:100px;
 padding-top:150px;
}


/*=============================================================*/
#numeros-local{
 margin:0 !important;
 padding:0 !important;
}
#numeros-local div {
 padding: 0 20px 0 0;   
 text-align:left;
 height:48px;
}

#numeros-local div:not(:last-child) {
 border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child) {
 padding-left:20px;
}

#numeros-local p{
 margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
 position:relative;
 top: -130px;
} 

#seccion-contacto{
 background-color: #1b2a4e;
 min-height:500px;
 position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
 position:absolute;
 top:30%;
 left:50%;
 transform: translate(-50%, -50%);
 background: #fbfafa;
 border-radius:5px;
 
}

#titulo-formulario {
 color: #3f3f3f;
}

article img{
  max-height: 50%;
  max-width: 50%;
}
article p{
  text-align: left;
}




/*=========================FOOTER================================*/

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}#f{
  background: #1b2a4e;
  min-height: 100px;;
}
footer p{
  color:#f3f3f3;
  text-align:center;
}
#iconos  i {
  font-size: 26px;
  padding: 0 8px;
  color:#f3f3f3;
}
p .fs-5 text-body{
  text-align: center;
}
/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
  #intro, #equipo {
      width:90% !important;
      margin:auto;
  }

  #local {
      flex-wrap: wrap;
      padding-top:30px;
 }
 .wrapper-local {
  width:90%;
  margin:auto;
  padding-top:50px;    
 }

}
/*=========================MEDIA QUERIES PANTALLA PEQUELÑA================================*/


@media (max-width:768px) {

  #intro, #equipo{
      width:90% !important;
      margin:auto;
  }

  
  #img-equipo{
      max-height:20rem !important;
      width:90%;
  }
  .wrapper-local {
      width:90%;
      margin:auto;
      padding-top:50px;    
  }
  #local {
      flex-wrap: wrap;
  }
  .mapa img {
      width:100%;
      height:auto;
  }
  #bg-contactos{
      top: -120px;
  }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-PEQUEÑA================================*/

@media (max-width: 576px) {
  #servicios-fila-2 {
      width:100% !important;
  }
  #servicios-fila-1 {
      width:100% !important;
  }

  .icono-wrap{
      flex-wrap:wrap !important;
      justify-content: center !important;
      text-align: center;
  }
}
 
 @media  (max-width: 700px) {
  .menu-btn {
    display: block;
    grid-area: auto;
  } 


  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }

main article{
  transition: all 0.3s ease;
    background-color:  #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer
}
main article:hover{
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.3);

}
.grid-container{
  
  display: grid;
  background-color: black;
  grid-template-columns: 70% 50% 70%;
  grid-template-rows: auto auto auto;
  justify-content: space-center;
  
}
.grid-container article{
  background-color: black;
  
  border: 1px solid bisque;

}

.grid-container img {
  width: 100%;
  height: 100%;
}
